# Data update script for ....

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_most_expensive_paintings#List_of_highest_prices_paid"

In [3]:
import pandas as pd

tables = pd.read_html(url)
len(tables)

5

In [10]:
# Find the table I am interested in
df = tables[0]
df

,Adjusted (in million USD),Original (in million USD),Painting,Image,Artist,Year,Date of sale,Rank at sale,Seller,Buyer,Auction house
0,$497.8,$450.3,Salvator Mundi,NaN,Leonardo da Vinci,c. 1500,"November 15, 2017",1.0,Dmitry Rybolovlev,Badr bin Abdullah Al Saud[note 2],"Christie's, New York[19]"
1,~$343,~$300,Interchange,NaN,Willem de Kooning,1955,September 2015,1.0,David Geffen Foundation,Kenneth C. Griffin,Private sale[20]
2,$301 +,$250 +[note 3],The Card Players,NaN,Paul Cézanne,1892/93,April 2011,1.0,George Embiricos,State of Qatar,Private sale[21][22][23]
3,$240,$210[24],Nafea Faa Ipoipo (When Will You Marry?),NaN,Paul Gauguin,1892,September 2014,2.0,Rudolf Staechelin heirs,State of Qatar,Private sale[25]
4,~$229,~$200,Number 17A,NaN,Jackson Pollock,1948,September 2015,4.0,David Geffen Foundation,Kenneth C. Griffin,Private sale[20]
...,...,...,...,...,...,...,...,...,...,...,...
110,$74.4,$68.9,Woman as Landscape,NaN,Willem de Kooning,1955,"November 13, 2018",NaN,Barney A. Ebsworth estate,NaN,"Christie's, New York[98]"
111,$74.3,$61.7,1949-A-No.1,NaN,Clyfford Still,1949,"November 9, 2011",NaN,City and County of Denver,NaN,"Sotheby's, New York[161]"
112,$71.4,$71.4,Cabanes de bois parmi les oliviers et cyprès [...,NaN,Vincent van Gogh,1889,"November 11, 2021",NaN,Edwin L. Cox,NaN,"Christie's, New York[162]"
113,$70.4,$70.35,Le Bassin aux nymphéas [Wikidata],NaN,Claude Monet,1917-19,"May 12, 2021",NaN,"Private Collection, New York, United States",NaN,"Sotheby's, New York[163]"
114,$70.4,$65.23 (HK$510.371),Juin-Octobre 1985,NaN,Zao Wou-Ki,1985,"September 30, 2018",NaN,Chang Qiu Dun[164],NaN,"Sotheby's, Hong Kong[165]"

In [17]:
df.dtypes
updated_df = df['Auction house'].value_counts().to_frame(name='count').reset_index
updated_df

<bound method DataFrame.reset_index of                            count
Sotheby's, New York            7
Christie's, New York           6
Chritie's, New York            2
Christie's, New York[101]      2
Christie's, New York[98]       2
...                          ...
Sotheby's, New York[77]        1
Sotheby's, New York[74]        1
Private sale[71][72][73]       1
Christie's, New York[70]       1
Sotheby's, Hong Kong[165]      1

[95 rows x 1 columns]>

In [21]:
updated_df.to_csv('auction_house.csv', index=False)

AttributeError: 'function' object has no attribute 'to_csv'