In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('europeanenergy_development_long.csv')
df

          date       country  price
0   12/06/2022       Austria  400.0
1   12/06/2022       Belgium  404.0
2   12/06/2022      Bulgaria  396.0
3   12/06/2022       Croatia  390.0
4   12/06/2022    Czech Rep.  369.0
5   12/06/2022       Denmark  386.0
6   12/06/2022       Estonia  384.0
7   12/06/2022       Finland  244.0
8   12/06/2022        France  418.0
9   12/06/2022       Germany  386.0
10  12/06/2022        Greece  401.0
11  12/06/2022       Hungary  398.0
12  12/06/2022         Italy  391.0
13  12/06/2022        Latvia  384.0
14  12/06/2022     Lithuania  384.0
15  12/06/2022   Netherlands  349.0
16  12/06/2022        Norway  251.0
17  12/06/2022        Poland  226.0
18  12/06/2022      Portugal  153.0
19  12/06/2022       Romania  396.0
20  12/06/2022        Serbia  398.0
21  12/06/2022      Slovakia  393.0
22  12/06/2022      Slovenia  402.0
23  12/06/2022         Spain  153.0
24  12/06/2022        Sweden  279.0
25  12/06/2022   Switzerland  407.0

In [22]:
#df2 = df.pivot(index='date', columns='country', values='price')
#df2

In [23]:
df2 = df.pivot_table(index = 'date', columns = 'country', values = 'price', aggfunc = np.mean)
df2

country,Austria,Belgium,Bulgaria,Croatia,Czech Rep.,Denmark,Estonia,Finland,France,Germany,...,Norway,Poland,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland
date,,,,,,,,,,,,,,,,,,,,,
12/06/2022,400.0,404.0,396.0,390.0,369.0,386.0,384.0,244.0,418.0,386.0,...,251.0,226.0,153.0,396.0,398.0,393.0,402.0,153.0,279.0,407.0

In [24]:
df2.to_csv("europeanenergy_development_wide.csv", index=True)